.unlock_container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
}

.unlock_text {
  width: 60%;
}

.unlock_heading {
  font-size: 25px;
  line-height: 30px;
  padding-bottom: 5px;
}

.unlock_subtext {
  font-size: 14px;
  color: var(--Gray);
  padding-bottom: 5px;
}
.unlock_button{
    padding: 9px 22px;
    background-color: var(--Primary-color);
    border: none;
}
.unlock_button a {
  color: var(--White);
}
