.header {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--White);
  z-index: 100;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin: 0 auto;
}

.nav_list {
  display: flex;
  align-items: center;
}

.nav_link {
  color: var(--D_Gray);
  font-size: 16px;
  line-height: 24px;
  margin: 0 1rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav_link:hover,
.nav_link.active {
  color: var(--Primary-color);
}

.nav_cta {
  background-color: var(--Primary-color);
  color: var(--White);
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.nav_cta:hover {
  background-color: darken(var(--Primary-color), 10%);
}

.nav_toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.nav_toggle:focus {
  outline: none;
}

/* Media query for small screens */
@media screen and (max-width: 1050px) {
  .nav_list {
    display: none;
  }

  .nav_toggle {
    display: block;
  }

  .nav_menu {
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 3.5rem;
    right: 0;
    width: 100%;
    max-height: calc(100vh - 3.5rem);
    overflow-y: auto;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    visibility: hidden;
    opacity: 0;
  }

  .nav_menu.open {
    display: block;
    visibility: visible;
    opacity: 1;
  }

  .nav_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .nav_item {
    width: 100%;
    margin: 0.5rem 0;
  }

  .nav_link {
    width: 100%;
    padding: 1rem;
    color: var(--White);
  }

  .nav_cta {
    background-color: var(--Primary-color);
    color: var(--White);
    padding: 1rem 2rem;
    margin-top: 1rem;
  }
}
