.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--White);
  z-index: 100;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 3.5rem;
  margin: 1rem;
}

.nav_list {
  display: flex;
}

.nav_link {
  color: var(--D_Gray);
  font-size: 12px;
  line-height: 16px;
  margin: 16px;
}

.nav_cta {
  background-color: var(--Primary-color);
  color: var(--White);
  padding: 16px 32px;
  margin: 5px;
  cursor: pointer;
}

.nav_toggle {
  display: none;
}

/* Media query for small screens */
@media screen and (max-width: 945px) {
  .nav_list {
    display: none;
  }

  .nav_toggle {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
  }

  .nav_menu {
    display: none;
    background-color: hsla(0, 0%, 6%, 0.2);
    transition: ease-in 0.4s;
    position: absolute;
    top: 3em;
    right: -22px;
    max-height: 100vh;
  }

  .nav_menu.open {
    display: block;
  }

  .nav_list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: auto;
  }

  .nav_item {
    margin-bottom: 1rem;
    margin-right: 0;
    padding: 15px;
  }


  .nav_item:hover:not(:last-child){
    background-color: var(--Primary-color);
  }
}
