.client_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 66.82px;
    padding-bottom: 66.82px;
    gap: 35px;
}

.client_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.client_text h4{
    font-size: 25px;

}

.client_text p{
    font-size: 16px;
    color: var(--Gray);
}

.client_icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    
}

.client_icons-item img{
    width: 40px;
    height: 40px;
    object-fit: contain;
}