.carousel_section {
  position: relative;
  width: 100%;
}
.carousel_content {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.carousel_title{
  text-align: center;
  width: auto;
}

.carousel_title p{
 font-size: 14px;
 color: var(--L-Gray);
 width: 50%;
 margin: 0 auto;
 padding-top: 20px;
 padding-bottom: 20px;
}
.carousel_container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
}

.carousel_wrapper {
  overflow: hidden;
  width: 100%;
}

.carousel_items {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: calc(
    100% * ${carouselItems.length / 3}
  ); /* Adjust width based on number of items */
}

.carousel_item {
  flex: 0 0 33.33%;
  padding: 0 10px;
}

.carousel_image {
  width: 100%;
}

.carousel_image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.carousel_text {
  width: 100%;
  margin-top: 15px;
}

.carousel_text-title h5 {
  font-size: 16px;
  margin-bottom: 10px;
}

.carousel_text-description p {
  font-size: 14px;
  color: #666;
}

.carousel_text-button button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 14px;
  color: white;
  background-color: var(--Primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.wiper-button {
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
}

.wiper-button__left {
  left: 10px;
}

.wiper-button__right {
  right: 10px;
}

@media (max-width: 850px) {
  .carousel_item {
    flex: 0 0 50%;
  }
}

@media (max-width: 690px) {
  .carousel_item {
    flex: 0 0 100%;
  }

  .carousel_image,
  .carousel_text {
    width: 70%;
  }

  .wiper-button {
    position: absolute;
    top: auto;
    bottom: 10px;
    transform: translateY(0);
  }

  .wiper-button__left {
    left: 80%;
    transform: translateX(-150%);
  }

  .wiper-button__right {
    right: 20%;
    transform: translateX(150%);
  }
}
