.achievements_section {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--Silver);
}
.achievements_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.archievment_heading h3{
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    padding-bottom: 12px;
}

.archievment_heading p{
    font-size: 15px;
    color: var(--Gray);
}
.archievment_heading span{
    color: var(--Primary-color);
}
.achievement_icons-items {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 2em;
  align-items: start; 
  padding: 20px;
  justify-items: start;
  margin: 0 auto;
}

.achievement_icons-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.achievment_icon svg{
    color: var(--Primary-color);
    width: 35px;
    height: 35px;
}
.achievment_icon-info{
    padding: .5em;
}

.achievment_icon-info > p {
    padding-bottom: .3em;
}
.achievment_icon-number{
    font-size: 16px;
    font-weight: bold;
}

.achievment_icon-name{
    font-size: 14px;
    color: var(--Gray);
}


@media screen and (max-width: 945px) {
    .achievements_container{
        grid-template-columns: 1fr;
    }

    .archievment_heading{
        text-align: center;
    }

    .achievement_icons-items{
        display: grid;
        align-items: center;
        justify-content: center;
    }


}